<input (change)="dispararMudancaFiltro($event)" type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked>
<label class="btn btn-secondary" for="option1">Todos</label>

<input (change)="dispararMudancaFiltro($event)" type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
<label class="btn btn-secondary" for="option2">Não Lidos</label>

<input (change)="dispararMudancaFiltro($event)" type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
<label class="btn btn-secondary" for="option3">Lidos</label>
